Hello {{ title | uppercase | lowercase }}

<p>
  {{ amount | currency }}
</p>

<p>
  {{ today | date:'yyyy-MM-dd' }}
</p>

<pre>
  {{ user | json }}
</pre>

<div *ngIf="isLoading">
  Loading...
</div>

<input [(ngModel)]="email">
{{ email }}
<!-- <input #email
     (keyup.enter)="search(email.value)"> -->

<button (click) = "onClickokButton($event)">    
    OK
</button>


<p [style.color] ="isActive ? 'green' : 'red'">
    Loem ipsum dolor sit amet Unix & Linux Stack Exchange is a question and 
    answer site for users of Linux, FreeBSD 
    and other Un*x-like operating systems. It only takes a minute to sign up.
    We could then print the result: 'The date is %s\n' "$thedate"`.
    The command substitution syntax is $().
    The command itself is date.
    Combining both we get $(date) which its output is the substitution.
    We display the output value hold by the variable with printf, per the command above.
</p>

<img  
 [src]="imageURL"
 [class.active]="isActive"  [style.border-color] ="isActive ? 'blue' : 'darkgoldenrod'">

 <br><br>
 <button (click) = "onClickChangeColorButton($event)">
   Change Color
 </button>